/* MAIN CSS */

:root {
  --gencolor: #2e2f42;
  --textcolor: #f4f4fd;
  --daracolor: #434455;
  --textlink: #8e8f99;

  --logo-l-color: #4d5ae5;
  --center-color: #ffffff;
  --but-color: #4d5ae5;
  --button2-color: #404bbf;
  --last-abz-color: #e7e9fc;
  --tochki-color: #424355;
  --foote-hoover: #31d0aa;
  --belii-modal: #fcfcfc;
  --mod-color: rgb(46, 47, 66, 0.2);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  outline: transparent;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--gencolor);
  margin: 0px;
}

.container {
  padding-left: 0;
  max-width: 428px;
  margin: 0 auto;
}

.section {
  padding-bottom: 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* video */

.how-its-mad-page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.video {
  height: 533px;

  position: relative;
  overflow: hidden;
  /* border-radius: 15px; */
}

video {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__overlay {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  /* background-color: rgba(0, 0, 0, 0.4); */
  cursor: pointer;
  transition: all 0.2s ease;
}

.video__overlay.hide {
  opacity: 0;
  visibility: hidden;
}
.video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.how-made-list-background {
  margin-top: 20px;
}

/* MOBILE VERSION CSS */

.title-cont {
  margin: 0 auto 0 auto;
  color: var(--textcolor);
  background-color: var(--gencolor);
}

.titel-name {
  text-align: center;
  padding-top: 15px;
  margin-bottom: 10px;
}

.titel-pos {
  text-align: center;
  padding-bottom: 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 28px;
}

.img-vlad {
  margin: 0 auto 0 auto;
}

.but-pers-inf {
  background-color: var(--daracolor);
  border-style: none;
  outline-style: none;
  height: 70px;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
  color: var(--textcolor);
  border: 1px solid var(--textcolor);
  text-align: center;
}

.description-font-wage-corr {
  font-weight: 500;
  font-size: 20px;
}

.link {
  color: var(--textlink);
  text-decoration: underline;
}

#mehr-eins,
#mehr-zwei,
#mehr-drei,
#mehr-vier,
#mehr-fünf {
  color: var(--textcolor);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  padding: 0 15px;

  height: 0;
  overflow: hidden;
  transition: height 1s ease;
}

.underline {
  text-decoration: underline;
}
#mehr-eins.show {
  height: 385px;
}
#mehr-zwei.show-two {
  height: 1140px;
}
#mehr-drei.show-three {
  height: 790px;
}
#mehr-vier.show-fourth {
  height: 200px;
}

#mehr-fünf.show-five {
  height: 200px;
}

.hidden-block-info {
  display: none;
}

.switcher {
  display: none;
}

/* @media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0;
  }

  .section {
    padding-bottom: 0;
  } */

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }

  .section {
    padding-bottom: 120px;
  }

  .titel-name {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 40px;
    font-weight: 500;
  }

  .titel-pos {
    font-size: 30px;
    font-weight: 500;
  }

  .global-block {
    display: flex;
  }

  .left-part {
    width: 450px;
  }

  .right-part {
    margin-bottom: 40px;
  }

  body {
    font-family: "Roboto", sans-serif;
    background-color: var(--textcolor);
    margin: 0px;
  }

  .hidden-block-info {
    display: inline;
  }

  .pers-info-pos {
    background-color: var(--gencolor);
    padding: 15px;
  }

  .to-hide {
    display: none;
  }

  .info-position {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-description-font-wage-corr {
    color: var(--textlink);
    font-family: "Roboto", sans-serif;
    line-height: 1.3;
    font-weight: 500;
    font-size: 25px;
  }

  .desk-description-font-wage-corr {
    color: var(--textlink);
    font-family: "Roboto", sans-serif;
    line-height: 1.3;
    font-weight: 500;
    font-size: 25px;
  }

  .desk-text-styl {
    color: var(--textcolor);
    background-color: var(--gencolor);
    font-family: "Roboto", sans-serif;
    line-height: 1.1;
    font-weight: 500;
    font-size: 30px;
    border: 1px solid var(--textcolor);
  }

  #mehr-zwei.show-two {
    height: 870px;
  }
  #mehr-drei.show-three {
    height: 585px;
  }

  #mehr-fünf.show-five {
    height: 245px;
  }

  #mehr-eins,
  #mehr-zwei,
  #mehr-drei,
  #mehr-vier,
  #mehr-fünf {
    height: 100%;
    overflow: visible;
    font-size: 23px;
    font-weight: 500;
  }

  .desk-off {
    display: none;
  }
}
